body {
    background: #283f90ee;
    font-family: 'Times New Roman', Times, serif
}
h1 {
    color: #ffffffee;
    text-align: center;
}
h2 {
    color: #14d10efc;
    text-align: center;
    margin: auto;
}
h3 {
    color: #ffffffee;
    text-align: center;
     margin: auto;
}
.about {
    color: #14d10efc;
    text-align: center;
    font-size: 20px;
    margin: 40px;
}
.skills {
    color: #14d10efc;
    text-align: center;
    font-size: 20px;
}
.projects {
    color: #14d10efc;
    text-align: center;
    margin: auto;
    font-size: 20px;
    display: block;
}
.contact {
    color: #14d10efc;
    text-align: center;
    font-size: 20px;
}
.link {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
#pictures img {
    width: 70%;
    margin: 0 auto;
    display: block;
    /* width: 500px;
    height: auto;
    align-items: center;
    margin: auto; */
}
<!--Resume-->
.resume-class {
    background-color: white;
    padding: 20px;
}
.resume-class p {
    color: black;
}