body {
    background: #283f90ee;
    font-family: 'Times New Roman', Times, serif
}
h1 {
    color: #000000ee;
    text-align: center;
}
.about {
    color: #175b15fc;
    text-align: center;
    font-size: 20px;
    margin: 40px;
}
.skills {
    color: #175b15fc;
    text-align: center;
    font-size: 20px;
}
.projects {
    color: #175b15fc;
    text-align: center;
    font-size: 20px;
}
.contact {
    color: #175b15fc;
    text-align: center;
    font-size: 20px;
}